[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]}]},
 {pleague,
     [{ecto_repos,['Elixir.Pleague.Repo']},
      {'Elixir.PleagueWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.PleagueWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Pleague.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {load_from_system_env,true},
           {server,true},
           {secret_key_base,<<"${SECRET_KEY_BASE}">>},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>}]},
      {'Elixir.Pleague.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {url,<<"${DATABASE_URL}">>},
           {database,<<>>},
           {ssl,true},
           {pool_size,1}]}]}].
